# Compiled byte code
*.o
*.so
*.rlib
*.dll

# Executables and linked libraries
*.exe
*.out
*.dylib
*.bin

# Cargo / Rust generated
/server/target
**/server/.fingerprint

# Lock file
server/Cargo.lock

# .env file
.env

# Code
.vscode/

# Backup files from txt editors
*~
*.swp
*.swo
*.bak
*.save